[submodule "libraries/leveldb"]
	path = libraries/leveldb
	url = https://github.com/MCPathfinders/leveldb-mcpe.git
[submodule "libraries/nbt"]
	path = libraries/nbt
	url = https://github.com/MCPathfinders/nbt.git
